In [1]:
import pandas as pd;

In [2]:
pd.read_excel("Dataset_w6.xls")

FileNotFoundError: [Errno 2] No such file or directory: 'Dataset_w6.xls'

In [1]:
international_affairs = pd.read_excel("Dataset_w6.xls")

NameError: name 'pd' is not defined

In [2]:
import pandas as pd

In [4]:
international_affairs = pd.read_excel("Dataset_w6.xlsx")

In [5]:
international_affairs

,country,Region,Surface area (km2),Population in thousands (2017),GDP per capita (current US$),Agricultural production index,International trade: Imports (million US$)
0,Afghanistan,SouthernAsia,652864,35530,623.2,125,3568
1,Albania,SouthernEurope,28748,2930,3984.2,134,4669
2,Algeria,NorthernAfrica,2381741,41318,4154.1,160,47091
3,Angola,MiddleAfrica,1246700,29784,4714.1,175,8790
4,Antigua and Barbuda,Caribbean,442,102,14764.5,88,491
...,...,...,...,...,...,...,...
191,Venezuela (Bolivarian Republic of),SouthAmerica,912050,31977,11068.9,118,16324
192,Viet Nam,South-easternAsia,330967,95541,2067.9,136,174111
193,Yemen,WesternAsia,527968,28250,1106.4,136,6861
194,Zambia,EasternAfrica,752612,17094,1311.1,179,7442
195,Zimbabwe,EasternAfrica,390757,16530,890.4,99,5212

In [6]:
international_affairs.nunique()

country                                       196
Region                                         22
Surface area (km2)                            196
Population in thousands (2017)                192
GDP per capita (current US$)                  195
Agricultural production index                  82
International trade: Imports (million US$)    195
dtype: int64

In [11]:
international_affairs['country'].value_counts()

Equatorial Guinea                   1
Iraq                                1
Spain                               1
Democratic Republic of the Congo    1
Ukraine                             1
                                   ..
Cook Islands                        1
Comoros                             1
Serbia                              1
Libya                               1
Nigeria                             1
Name: country, Length: 196, dtype: int64

new_frame = international_affairs[['country']]

In [28]:
new_frame = international_affairs[['country','Region']]

In [31]:
new_frame.nunique()

country    196
Region      22
dtype: int64

In [16]:
new_frame.nunique()

country    196
dtype: int64

In [17]:
import seaborn as sns

Matplotlib is building the font cache; this may take a moment.

In [18]:
import matplotlib.pyplot as plt

In [27]:
international_affairs.sort_values(by = ['GDP per capita (current US$)']).head(5)

,country,Region,Surface area (km2),Population in thousands (2017),GDP per capita (current US$),Agricultural production index,International trade: Imports (million US$)
161,Somalia,EasternAfrica,637657,14742,144.5,112,530
28,Burundi,EasternAfrica,27830,10864,244.6,109,625
34,Central African Republic,MiddleAfrica,622984,4659,333.2,114,147
128,Niger,WesternAfrica,1267000,21477,359.0,148,1861
106,Malawi,EasternAfrica,118484,18622,372.9,149,1649

In [32]:
new_frame = international_affairs[['country','Region']]

In [33]:
new_frame

                                country             Region
0                           Afghanistan       SouthernAsia
1                               Albania     SouthernEurope
2                               Algeria     NorthernAfrica
3                                Angola       MiddleAfrica
4                   Antigua and Barbuda          Caribbean
..                                  ...                ...
191  Venezuela (Bolivarian Republic of)       SouthAmerica
192                            Viet Nam  South-easternAsia
193                               Yemen        WesternAsia
194                              Zambia      EasternAfrica
195                            Zimbabwe      EasternAfrica

[196 rows x 2 columns]

In [34]:
new_frame.groupby(new_frame['Region']).count().country

Region
Caribbean            16
CentralAmerica        8
CentralAsia           5
EasternAfrica        17
EasternAsia           7
EasternEurope        10
Melanesia             5
Micronesia            4
MiddleAfrica          9
NorthernAfrica        5
NorthernAmerica       4
NorthernEurope       10
Oceania               2
Polynesia             5
South-easternAsia    11
SouthAmerica         12
SouthernAfrica        5
SouthernAsia          9
SouthernEurope       12
WesternAfrica        15
WesternAsia          18
WesternEurope         7
Name: country, dtype: int64

In [37]:
international_affairs.mean("GDP per capita (current US$)")

ValueError: No axis named GDP per capita (current US$) for object type DataFrame

In [38]:
import statistics

In [39]:
international_affairs.mean("GDP per capita (current US$)")

ValueError: No axis named GDP per capita (current US$) for object type DataFrame

In [40]:
international_affairs.mean(GDP per capita (current US$))

SyntaxError: invalid syntax (<ipython-input-40-4f92556edb77>, line 1)

In [67]:
new_frame = international_affairs[['Region','GDP per capita (current US$)','International trade: Imports (million US$)']]

In [68]:
new_frame

,Region,GDP per capita (current US$),International trade: Imports (million US$)
0,SouthernAsia,623.2,3568
1,SouthernEurope,3984.2,4669
2,NorthernAfrica,4154.1,47091
3,MiddleAfrica,4714.1,8790
4,Caribbean,14764.5,491
...,...,...,...
191,SouthAmerica,11068.9,16324
192,South-easternAsia,2067.9,174111
193,WesternAsia,1106.4,6861
194,EasternAfrica,1311.1,7442
195,EasternAfrica,890.4,5212

In [46]:
new_frame

                Region  GDP per capita (current US$)
0         SouthernAsia                         623.2
1       SouthernEurope                        3984.2
2       NorthernAfrica                        4154.1
3         MiddleAfrica                        4714.1
4            Caribbean                       14764.5
..                 ...                           ...
191       SouthAmerica                       11068.9
192  South-easternAsia                        2067.9
193        WesternAsia                        1106.4
194      EasternAfrica                        1311.1
195      EasternAfrica                         890.4

[196 rows x 2 columns]

In [51]:
new_frame.groupby(new_frame['Region','GDP per capita (current US$)'])

KeyError: ('Region', 'GDP per capita (current US$)')

In [52]:
new_frame

                Region  GDP per capita (current US$)
0         SouthernAsia                         623.2
1       SouthernEurope                        3984.2
2       NorthernAfrica                        4154.1
3         MiddleAfrica                        4714.1
4            Caribbean                       14764.5
..                 ...                           ...
191       SouthAmerica                       11068.9
192  South-easternAsia                        2067.9
193        WesternAsia                        1106.4
194      EasternAfrica                        1311.1
195      EasternAfrica                         890.4

[196 rows x 2 columns]

In [53]:
new_frame.groupby(new_frame['Region']).mean().GDP per capita (current US$)

SyntaxError: invalid syntax (<ipython-input-53-eb8556ffdcf9>, line 1)

In [56]:
new_frame["GDP per capita (current US$)"].mean()

13727.343367346926

In [61]:
gdp = new_frame.groupby(new_frame['Region'])["GDP per capita (current US$)"].mean().to_frame()

In [62]:
gdp

                   GDP per capita (current US$)
Region
Caribbean                          15135.562500
CentralAmerica                      6348.137500
CentralAsia                         4329.880000
EasternAfrica                       2088.852941
EasternAsia                        27967.614286
EasternEurope                       9292.490000
Melanesia                           9261.960000
Micronesia                          5008.300000
MiddleAfrica                        3928.833333
NorthernAfrica                      3934.960000
NorthernAmerica                    57659.000000
NorthernEurope                     42098.220000
Oceania                            44823.250000
Polynesia                           8686.520000
South-easternAsia                  10299.027273
SouthAmerica                        8499.775000
SouthernAfrica                      4191.900000
SouthernAsia                        2968.400000
SouthernEurope                     14462.741667
WesternAfrica                       1013.140000
WesternAsia                        17013.938889
WesternEurope                      55387.128571

In [64]:
gdp.sort_values(by = ['GDP per capita (current US$)'],ascending=False).head(5)

                 GDP per capita (current US$)
Region
NorthernAmerica                  57659.000000
WesternEurope                    55387.128571
Oceania                          44823.250000
NorthernEurope                   42098.220000
EasternAsia                      27967.614286

In [70]:
int_trade = new_frame.groupby(new_frame['Region'])["International trade: Imports (million US$)"].mean().to_frame()

In [71]:
int_trade

                   International trade: Imports (million US$)
Region
Caribbean                                         3057.312500
CentralAmerica                                   57031.500000
CentralAsia                                      12063.400000
EasternAfrica                                     4726.176471
EasternAsia                                     451995.000000
EasternEurope                                    85243.900000
Melanesia                                         2896.400000
Micronesia                                          99.000000
MiddleAfrica                                      4381.222222
NorthernAfrica                                   35034.400000
NorthernAmerica                                 663552.250000
NorthernEurope                                  113407.200000
Oceania                                         112914.500000
Polynesia                                          432.000000
South-easternAsia                                98324.636364
SouthAmerica                                     32885.666667
SouthernAfrica                                   18005.600000
SouthernAsia                                     58199.333333
SouthernEurope                                   76666.666667
WesternAfrica                                     4898.333333
WesternAsia                                      46025.555556
WesternEurope                                   407498.428571

int_trade.sort_values(by = ['International trade: Imports (million US$)'],ascending=False).head(5)

In [72]:
int_trade.sort_values(by = ['International trade: Imports (million US$)'],ascending=False).head(5)

                 International trade: Imports (million US$)
Region
NorthernAmerica                               663552.250000
EasternAsia                                   451995.000000
WesternEurope                                 407498.428571
NorthernEurope                                113407.200000
Oceania                                       112914.500000